@charset "utf-8";

:root{
    --piece-uneven-ratio:0.15;
    --piece-shape-scale:1;
}
.piece-container{
    --shape-multiple-top:0;
    --shape-multiple-right:0;
    --shape-multiple-bottom:0;
    --shape-multiple-left:0;
    --piece-wrap-width:100px;
    --piece-wrap-height:100px;
}

.piece-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    width: var(--piece-wrap-width,100px);
    height: var(--piece-wrap-height,100px);
    position: relative;


    --shape-width:calc(var(--piece-shape-scale) * var(--piece-wrap-width));
    --shape-height:calc(var(--piece-shape-scale) * var(--piece-wrap-height));
    --shape-uneven:calc( var(--shape-width) * var(--piece-uneven-ratio) );
    --shape-uneven-x:var(--shape-uneven);
    --shape-uneven-y:calc( var(--shape-height) * var(--piece-uneven-ratio) );
}

.debug .piece-wrap::before,
.piece-wrap.debug::before{
    pointer-events: none;
    content: '';
    display: block;
    position: absolute;
    left:0;right:0;top:0;bottom:0;
    width:100%;height:100%;
    outline:1px dotted #0000ff66;
    outline-offset: -1px;
    z-index: 5;
}
.debug .piece-wrap::after,
.piece-wrap.debug::after{
    pointer-events: none;
    content: '';
    display: block;
    position: absolute;
    left:0;right:0;top:0;bottom:0;
    outline:2px dashed #ff000066;
    outline-offset: -2px;
    z-index: 9;
    top:0;
    right:0;
    bottom:0;
    left:0;

    /* top:calc( -1 * var(--shape-uneven-y));
    right:calc( -1 * var(--shape-uneven-x));
    bottom:calc( -1 * var(--shape-uneven-y));
    left:calc( -1 * var(--shape-uneven-x)); */
}


.piece-shape{
    display: flex;
    background-repeat: no-repeat;
}



.piece-shape{
    display: block;
    position: absolute;
    /* top:calc( -1 * var(--shape-uneven-y));
    right:calc( -1 * var(--shape-uneven-x));
    bottom:calc( -1 * var(--shape-uneven-y));
    left:calc( -1 * var(--shape-uneven-x)); */
    top:0;
    right:0;
    bottom:0;
    left:0;
}


/* .piece-shape.clip-zigzag */
.piece-container.clip-zigzag .piece-shape, .piece-container[data-shape="clip-zigzag"] .piece-shape,
.piece-shape.clip-zigzag , .piece-shape[data-shape="clip-zigzag"]{

    --uneven:calc(100% * var(--piece-uneven-ratio));
    --top:calc(var(--uneven) - var(--shape-multiple-top) * var(--uneven));
    --right:calc(100% - (var(--uneven) - var(--shape-multiple-right) * var(--uneven)));
    --bottom:calc(100% - (var(--uneven) - var(--shape-multiple-bottom) * var(--uneven)));
    --left:calc(var(--uneven) - var(--shape-multiple-left) * var(--uneven) );

    clip-path: polygon(
        15% 15%,
        50% var(--top),
        85% 15%,
        var(--right) 50%,
        85% 85%,
        50% var(--bottom),
        15% 85%,
        var(--left) 50%
    );
}

.piece-container.clip-rect .piece-shape, .piece-container[data-shape="clip-rect"] .piece-shape,
.piece-shape.clip-rect , .piece-shape[data-shape="clip-rect"]{
    --uneven:calc(100% * var(--piece-uneven-ratio));
    --top:calc(var(--uneven) - var(--shape-multiple-top) * var(--uneven) );
    --right:calc(100% - (var(--uneven) - var(--shape-multiple-right) * var(--uneven)) );
    --bottom:calc(100% - (var(--uneven) - var(--shape-multiple-bottom) * var(--uneven)) );
    --left:calc(var(--uneven) - var(--shape-multiple-left) * var(--uneven) );

    clip-path: polygon(
        15% 15%, 42.5% 15%, 
        42.5%   var(--top)  , 57.5%  var(--top)  , /* top */
        57.5% 15%, 85% 15%, 85% 42.5%, 
        var(--right)    42.5%,    var(--right)    57.5%, /* right */
        85% 57.5%, 85% 85%, 57.5% 85%, 
        57.5% var(--bottom), 42.5% var(--bottom), /* bottom */
        42.5% 85%, 15% 85%, 15% 57.5%, 
         var(--left) 57.5%,  var(--left) 42.5%,  /* left */
        15% 42.5%);
}

:is(.piece-container.clip-zigzag .piece-shape, .piece-container[data-shape="clip-zigzag"] .piece-shape, .piece-shape.clip-zigzag , .piece-shape[data-shape="clip-zigzag"] , .piece-container.clip-rect .piece-shape, .piece-container[data-shape="clip-rect"] .piece-shape, .piece-shape.clip-rect, .piece-shape[data-shape="clip-rect"])[data-shape-top="0"]{ --shape-multiple-top:0; }
:is(.piece-container.clip-zigzag .piece-shape, .piece-container[data-shape="clip-zigzag"] .piece-shape, .piece-shape.clip-zigzag , .piece-shape[data-shape="clip-zigzag"] , .piece-container.clip-rect .piece-shape, .piece-container[data-shape="clip-rect"] .piece-shape, .piece-shape.clip-rect, .piece-shape[data-shape="clip-rect"])[data-shape-top="p"]{ --shape-multiple-top:1; }
:is(.piece-container.clip-zigzag .piece-shape, .piece-container[data-shape="clip-zigzag"] .piece-shape, .piece-shape.clip-zigzag , .piece-shape[data-shape="clip-zigzag"] , .piece-container.clip-rect .piece-shape, .piece-container[data-shape="clip-rect"] .piece-shape, .piece-shape.clip-rect, .piece-shape[data-shape="clip-rect"])[data-shape-top="n"]{ --shape-multiple-top:-1; }

:is(.piece-container.clip-zigzag .piece-shape, .piece-container[data-shape="clip-zigzag"] .piece-shape, .piece-shape.clip-zigzag , .piece-shape[data-shape="clip-zigzag"] , .piece-container.clip-rect .piece-shape, .piece-container[data-shape="clip-rect"] .piece-shape, .piece-shape.clip-rect, .piece-shape[data-shape="clip-rect"])[data-shape-right="0"]{ --shape-multiple-right:0; }
:is(.piece-container.clip-zigzag .piece-shape, .piece-container[data-shape="clip-zigzag"] .piece-shape, .piece-shape.clip-zigzag , .piece-shape[data-shape="clip-zigzag"] , .piece-container.clip-rect .piece-shape, .piece-container[data-shape="clip-rect"] .piece-shape, .piece-shape.clip-rect, .piece-shape[data-shape="clip-rect"])[data-shape-right="p"]{ --shape-multiple-right:1; }
:is(.piece-container.clip-zigzag .piece-shape, .piece-container[data-shape="clip-zigzag"] .piece-shape, .piece-shape.clip-zigzag , .piece-shape[data-shape="clip-zigzag"] , .piece-container.clip-rect .piece-shape, .piece-container[data-shape="clip-rect"] .piece-shape, .piece-shape.clip-rect, .piece-shape[data-shape="clip-rect"])[data-shape-right="n"]{ --shape-multiple-right:-1; }

:is(.piece-container.clip-zigzag .piece-shape, .piece-container[data-shape="clip-zigzag"] .piece-shape, .piece-shape.clip-zigzag , .piece-shape[data-shape="clip-zigzag"] , .piece-container.clip-rect .piece-shape, .piece-container[data-shape="clip-rect"] .piece-shape, .piece-shape.clip-rect, .piece-shape[data-shape="clip-rect"])[data-shape-bottom="0"]{ --shape-multiple-bottom:0; }
:is(.piece-container.clip-zigzag .piece-shape, .piece-container[data-shape="clip-zigzag"] .piece-shape, .piece-shape.clip-zigzag , .piece-shape[data-shape="clip-zigzag"] , .piece-container.clip-rect .piece-shape, .piece-container[data-shape="clip-rect"] .piece-shape, .piece-shape.clip-rect, .piece-shape[data-shape="clip-rect"])[data-shape-bottom="p"]{ --shape-multiple-bottom:1; }
:is(.piece-container.clip-zigzag .piece-shape, .piece-container[data-shape="clip-zigzag"] .piece-shape, .piece-shape.clip-zigzag , .piece-shape[data-shape="clip-zigzag"] , .piece-container.clip-rect .piece-shape, .piece-container[data-shape="clip-rect"] .piece-shape, .piece-shape.clip-rect, .piece-shape[data-shape="clip-rect"])[data-shape-bottom="n"]{ --shape-multiple-bottom:-1; }

:is(.piece-container.clip-zigzag .piece-shape, .piece-container[data-shape="clip-zigzag"] .piece-shape, .piece-shape.clip-zigzag , .piece-shape[data-shape="clip-zigzag"] , .piece-container.clip-rect .piece-shape, .piece-container[data-shape="clip-rect"] .piece-shape, .piece-shape.clip-rect, .piece-shape[data-shape="clip-rect"])[data-shape-left="0"]{ --shape-multiple-left:0; }
:is(.piece-container.clip-zigzag .piece-shape, .piece-container[data-shape="clip-zigzag"] .piece-shape, .piece-shape.clip-zigzag , .piece-shape[data-shape="clip-zigzag"] , .piece-container.clip-rect .piece-shape, .piece-container[data-shape="clip-rect"] .piece-shape, .piece-shape.clip-rect, .piece-shape[data-shape="clip-rect"])[data-shape-left="p"]{ --shape-multiple-left:1; }
:is(.piece-container.clip-zigzag .piece-shape, .piece-container[data-shape="clip-zigzag"] .piece-shape, .piece-shape.clip-zigzag , .piece-shape[data-shape="clip-zigzag"] , .piece-container.clip-rect .piece-shape, .piece-container[data-shape="clip-rect"] .piece-shape, .piece-shape.clip-rect, .piece-shape[data-shape="clip-rect"])[data-shape-left="n"]{ --shape-multiple-left:-1; }



/* .piece-shape.mask-css */
.piece-shape{
    --mask-css-n-on:#00000000;
    --mask-css-n-off:#000000ff;
    --mask-css-p-on:#ffffffff;
    --mask-css-p-off:#ffffff00;
}
.piece-container.mask-css .piece-shape, .piece-container[data-shape="mask-css"] .piece-shape,
.piece-shape.mask-css , .piece-shape[data-shape="mask-css"],
.mask-css-test-bg{
    --mask-css-n-top:var(--mask-css-n-off);
    --mask-css-p-top:#ffffff00;
    --mask-css-n-right:var(--mask-css-n-off);
    --mask-css-p-right:#ffffff00;
    --mask-css-n-bottom:var(--mask-css-n-off);
    --mask-css-p-bottom:#ffffff00;
    --mask-css-n-left:var(--mask-css-n-off);
    --mask-css-p-left:#ffffff00;

    --mask-image:
    radial-gradient(ellipse var(--shape-uneven-x) var(--shape-uneven-y)  at left 60% top 21%, var(--mask-css-n-top) 48%, var(--mask-css-n-off) 50%, var(--mask-css-n-off) 0 ),
    radial-gradient(ellipse var(--shape-uneven-x) var(--shape-uneven-y)  at left 79% top 62%, var(--mask-css-n-right) 48%,var(--mask-css-n-off) 50%,var(--mask-css-n-off) 0 ),
    radial-gradient(ellipse var(--shape-uneven-x) var(--shape-uneven-y)  at left 40% top 79%, var(--mask-css-n-bottom) 48%, var(--mask-css-n-off) 50%, var(--mask-css-n-off) 0 ),
    radial-gradient(ellipse var(--shape-uneven-x) var(--shape-uneven-y)  at left 21% top 42%, var(--mask-css-n-left) 48%, var(--mask-css-n-off) 50%, var(--mask-css-n-off) 0 ),

    radial-gradient(ellipse calc(var(--shape-uneven-x) * 0.9) calc(var(--shape-uneven-y) * 0.9)  at left 40% top 9%, var(--mask-css-p-top) 48%, transparent 50%, transparent 0 ),
    radial-gradient(ellipse calc(var(--shape-uneven-x) * 0.9) calc(var(--shape-uneven-y) * 0.9)  at left 91% top 42%, var(--mask-css-p-right) 48%, transparent 50%, transparent 0 ),
    radial-gradient(ellipse calc(var(--shape-uneven-x) * 0.9) calc(var(--shape-uneven-y) * 0.9)  at left 60% top 91%, var(--mask-css-p-bottom) 48%, transparent 50%, transparent 0 ),
    radial-gradient(ellipse calc(var(--shape-uneven-x) * 0.9) calc(var(--shape-uneven-y) * 0.9)  at left 9% top 62%, var(--mask-css-p-left) 48%, transparent 50%, transparent 0 ),

    linear-gradient(#ffc107 100%,transparent 0),
    linear-gradient(#ffc107 100%,transparent 0),
    radial-gradient(ellipse var(--shape-uneven-x) var(--shape-uneven-y) at left 22.5% top 22.5%, #ff0000ff 48%, transparent 50%, transparent 0 ),
    radial-gradient(ellipse var(--shape-uneven-x) var(--shape-uneven-y) at right 22.5% top 22.5%, #ff0000ff 48%, transparent 50%, transparent 0 ),
    radial-gradient(ellipse var(--shape-uneven-x) var(--shape-uneven-y) at left 22.5% bottom 22.5%, #ff0000ff 48%, transparent 50%, transparent 0 ),
    radial-gradient(ellipse var(--shape-uneven-x) var(--shape-uneven-y) at right 22.5% bottom 22.5%, #ff0000ff 48%, transparent 50%, transparent 0 );
    --mask-size:contain,contain,contain,contain,contain,contain,contain,contain,70% 55% ,55% 70% , contain, contain , contain , contain;
    --webkit-mask-composite:source-in,source-in,source-in,source-in,source-over,source-over,source-over,source-over,source-over,source-over,source-over,source-over,source-over ;
    --mask-composite:intersect ,intersect ,intersect ,intersect ,add,add,add,add,add,add,add,add,add ;
    /* --mask-composite:add; */
}
:is(.piece-container.mask-css .piece-shape, .piece-container[data-shape="mask-css"] .piece-shape , .piece-shape.mask-css , .piece-shape[data-shape="mask-css"])[data-shape-top="n"]{ --mask-css-n-top:var(--mask-css-n-on); }
:is(.piece-container.mask-css .piece-shape, .piece-container[data-shape="mask-css"] .piece-shape , .piece-shape.mask-css , .piece-shape[data-shape="mask-css"])[data-shape-top="p"]{ --mask-css-p-top:var(--mask-css-p-on); }
:is(.piece-container.mask-css .piece-shape, .piece-container[data-shape="mask-css"] .piece-shape , .piece-shape.mask-css , .piece-shape[data-shape="mask-css"])[data-shape-right="n"]{ --mask-css-n-right:var(--mask-css-n-on); }
:is(.piece-container.mask-css .piece-shape, .piece-container[data-shape="mask-css"] .piece-shape , .piece-shape.mask-css , .piece-shape[data-shape="mask-css"])[data-shape-right="p"]{ --mask-css-p-right:var(--mask-css-p-on); }
:is(.piece-container.mask-css .piece-shape, .piece-container[data-shape="mask-css"] .piece-shape , .piece-shape.mask-css , .piece-shape[data-shape="mask-css"])[data-shape-bottom="n"]{ --mask-css-n-bottom:var(--mask-css-n-on); }
:is(.piece-container.mask-css .piece-shape, .piece-container[data-shape="mask-css"] .piece-shape , .piece-shape.mask-css , .piece-shape[data-shape="mask-css"])[data-shape-bottom="p"]{ --mask-css-p-bottom:var(--mask-css-p-on); }
:is(.piece-container.mask-css .piece-shape, .piece-container[data-shape="mask-css"] .piece-shape , .piece-shape.mask-css , .piece-shape[data-shape="mask-css"])[data-shape-left="n"]{ --mask-css-n-left:var(--mask-css-n-on); }
:is(.piece-container.mask-css .piece-shape, .piece-container[data-shape="mask-css"] .piece-shape , .piece-shape.mask-css , .piece-shape[data-shape="mask-css"])[data-shape-left="p"]{ --mask-css-p-left:var(--mask-css-p-on); }

.piece-container.mask-css .piece-shape, .piece-container[data-shape="mask-css"] .piece-shape,
.piece-shape.mask-css , .piece-shape[data-shape="mask-css"]{
    -webkit-mask-image:var(--mask-image);
    mask-image:var(--mask-image);
    -webkit-mask-size: var(--mask-size);
    mask-size: var(--mask-size);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-composite: var(--webkit-mask-composite);
    mask-composite: var(--mask-composite);
    


}


.mask-css-test-bg{
    --mask-css-n-off:transparent;
    --mask-css-n-top:#000000ff;
    --mask-css-p-top:#ffffffff;
    --mask-css-n-right:#000000ff;
    --mask-css-p-right:#ffffffff;
    --mask-css-n-bottom:#000000ff;
    --mask-css-p-bottom:#ffffffff;
    --mask-css-n-left:#000000ff;
    --mask-css-p-left:#ffffffff;
    
    background-color: #abc;
    background-image:var(--mask-image) !important;

    background-size: var(--mask-size) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
